<div class="headerContainer">
    <div class="header1">
        <span>
            <a href="https://www.facebook.com/DudiGoodies" target="_blank">
                <i class="fa fa-facebook-f"></i>
            </a>
            
            <a href="https://www.instagram.com/dudi_s_goodies/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </span>
    </div>
    
    <div class="header2">
        <button class="menuButton">Acasa</button>
        <button class="menuButton"> Despre</button>
        <div class="hackButton"></div>
        <button class="menuButton">Produse</button>
        <button class="menuButton">Contact</button>
    </div>

    <div class="logoContainer">
        <img src="/assets/img/Logo.jpg" alt="" width="120px" height="120px">
    </div>
</div>